@charset "UTF-8";
body {
  background-image: linear-gradient(to bottom, gray, black);
}
header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: sticky;
  display: block; }
  header ul {
    list-style-type: none; }
    .compras1 {
      display: flex;
      justify-content: end;
      justify-items: end;
      align-items: end;
      align-content: end;
      text-align: end; 
      padding-top: 2%; }


.foto {
  width: 2%;
  padding-bottom: 1%;
  transition: all 250ms;
}
.foto:hover {
  width: 2.2%;
}
.imagenGTR{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen_Index {
  margin-bottom: 5%;
  border-radius: 15px;
  width: 60%;
  transition: all 2s;
}
.imagen_Index:hover {
  width: 75%;
}

h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}
p {
  text-align: center;
  align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
}

footer {
  margin: 7%;
}

/* NOSOTROS */
.title{
  margin-bottom: 5%;
}
.img_nos img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenNos{
  width: 100%;
  height: 50%;
  border-radius: 15px;
}
.text{
  margin-top: -35%;
}

/* PRODUCTOS */
.publicacionesGTR {
  display:flex;
  justify-content: center;
  align-items: center;
}
.imagenPublicacionesGTR {
  width: 35%;
  margin: 2%;
  border-radius: 15px;
  transition: all 1s;
}
.imagenPublicacionesGTR:hover {
  width: 50%;
}
.catalogoRepuestos{
  font-weight: bold;
  margin-top: 3%;
}
.listaRepuestos{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  list-style-type: none;
  text-align: center;
  transition: all 300ms;
  margin: 2%;
  padding-bottom: 0.5%;
}
.repuestos {
  text-decoration: none;
  list-style-type: none;
  color: blue;
  transition: all 300ms;
}
.repuestos:hover {
  text-decoration: none;
  list-style-type: none;
  color: blue;
  font-weight: bold;
  font-size: 100%;
}
.productosdes {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  text-decoration: none;
  color: blue;
  transition: all 300ms;
}
.productosdes:hover{
  font-size: 101%;
}

/* CATÁLOGO */
#BatteryB {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%; }
#BatteryB h3{
  color: black;
  font-weight: bold; }
#BatteryB img {
  width: 70%;
  height: 80%;
  display: flex;
  padding-bottom: 20%; }

#Distribuciones {
  background-color: white;
  margin-bottom: 10%;
  padding-top: 5%;
  padding-bottom: 5%; }
  #Distribuciones h3{
    color: black;
    font-weight: bold; }
    #Distribuciones img {
      padding-top: 10%;
      width: 80%;
      display: flex;
      margin: auto;
      height: 80%; }

#Filtros {
  background-color: white;
  margin-bottom: 10%;
  padding-top: 5%;
  padding-bottom: 5%; }
  #Filtros img {
    width: 70%;
    height: auto;
    display: flex;
    margin-top: 5%; }
    #Filtros h3{
      color: black;
      font-weight: bold;
    }

#Frenos {
  background-color: white;
  margin-bottom: 10%;
  padding-bottom: 5%;
  padding-top: 5%; }
  #Frenos img {
    display: flex;
    width: 50%;
    height: auto;
    margin: auto; }
    #Frenos h3 {
      color: black;
      font-weight: bold;
    }

#Encendido {
  background-color: white;
  margin-bottom: 10%;
  padding-top: 5%;
  padding-bottom: 5%; }
  #Encendido img {
    margin: auto;
    display: flex;
    width: 50%;
    margin: auto; }
    #Encendido h3 {
      color: black;
      font-weight: bold; }

#Direccion {
  background-color: white;
  margin-bottom: 10%;
  padding-top: 5%;
  padding-bottom: 5%; }
  #Direccion img {
    display: flex;
    width: 80%;
    height: auto;
    margin: auto; }

#Suspension {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%; }
  #Suspension img {
    display: flex;
    width: 80%;
    height: 60%;
    margin: auto; }

/* SERVICIOS */
#Servicios img {
  width: 80%;
  padding: 25%;
  transition: all 1s;
}
#Servicios img:hover {
  width: 90%;
  border: 20px solid gray;
}

/* CONTACTOS */
/*Formulario*/
.formulario {
  margin: 5%;
}
.map {
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  margin-top: 8%;
  border-radius: 15px;
}
#opciones {
  background-color: whitesmoke; }

.navbar-toggler-icon {
  background-color: whitesmoke; }

.navbar-brand {
  background-color: whitesmoke; }

.navbar-nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 250%;
  color: blue;
  text-align: center;
  text-decoration: none;
}

.menu {
  background-color: red;
  height: 75px; }
  .menu .col {
    background-color: red;
    width: 100%;
    height: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    padding-top: 1.5%;
    transition: all 500ms; }
    .menu .col:hover {
      width: 100%;
      height: 100px;
      background-color: red;
      font-weight: bold; }
  .menu a {
    color: black;
    text-decoration: none; }
    .menu a:hover {
      font-weight: bold;
      text-decoration: none; }

/* MOBILE DEVICE */
@media screen and (max-width: 320px) {
  body {
    background-image: black;
  }

  .menu {
    width: 100%;
  }
  .publicacionesGTR {
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .imagenPublicacionesGTR {
    width: 55%;
    margin: 2%;
    border-radius: 5%;
    transition: all 1s;
  }
  .imagenPublicacionesGTR:hover {
    width: 80%;
  }
  .catalogoRepuestos {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #BatteryB {
    background-color: white; }
    #BatteryB img {
      width: 70%;
      height: 60%;
      display: flex;
      margin: auto; 
    }
  #Distribuciones {
    background-color: white;
    padding-bottom: 5%; }
    #Distribuciones img {
      padding-bottom: 5%;
    }
  #Filtros h3 {
    color: black;
  }
footer{
  padding-top: 20%;
}
}

/* MOBILE DEVICE */
@media screen and (max-width: 420px) {
  body {
    background-image: black;
  }
  .socialIndex{
    margin-bottom: 40%;
  }
  .social{
    margin-top: 15%;
  }
  .menu {
    width: 100%;
  }
  .imagen_Index {
    width: 80%;
    transition: all 1s;
  }
  .imagen_Index:hover {
    width: 100%;
  }
  .publicacionesGTR {
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .imagenPublicacionesGTR {
    width: 55%;
    margin: 2%;
    border-radius: 5%;
    transition: all 1s;
  }
  .imagenPublicacionesGTR:hover {
    width: 80%;
  }
  .catalogoRepuestos {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #BatteryB {
    background-color: white; }
    #BatteryB img {
      width: 70%;
      height: 50%;
      padding-bottom: 5%; }
      #BatteryB h3{
        font-size: 100%;
      }
  #Distribuciones {
    background-color: white;
    margin-bottom: 10%;
    padding-bottom: 25%; }
    #Distribuciones img {
      width: 100%; }
      h3{
        font-size: 100%;
      }
  #Filtros {
    background-color: white;
    padding-bottom: 5%; 
    padding-top: 5%; 
    margin-bottom: 10%;}
    #Filtros img {
      width: 100%; }
  footer{
    padding-top: 45%;
  }}
/*tamaño tablet*/
@media screen and (max-width: 768px) {
  .foto {
    width: 3%;
    margin-top: 2%;
    margin-left: 0%; }
    .foto #maps {
      width: 50%; }
    .foto #BatteryB {
      background-color: white; }
      .foto #BatteryB img {
        width: 70%;
        height: 60%;
        display: flex;
        margin: auto; }
    .foto #Distribuciones {
      background-color: white; }
      .foto #Distribuciones img {
        width: 80%;
        display: flex;
        margin: auto;
        height: auto; } }