@charset "UTF-8";
header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: sticky;
  top: 0%;
  display: block; }
  header ul {
    list-style-type: none; }
    header ul .compras1 {
      display: flex;
      justify-content: end;
      justify-items: end;
      align-items: end;
      align-content: end;
      text-align: end;
      padding-top: 2%; }

.foto {
  width: 2%;
  padding-bottom: 1%;
  transition: all 250ms; }
  .foto:hover {
    width: 2.5%; }

/*Footer*/
.container {
  padding-top: 0%; }
  .container .items {
    padding-top: 7%;
    font-size: 125%;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

/*Productos*/
.publicacionesGTR {
  margin-left: 35%;
  width: 30%;
  height: 30%;
  padding-bottom: 5%;
  transition: all 2s; }
  .publicacionesGTR:hover {
    width: 35%;
    height: 35%; }

.row-1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 250%;
  color: black;
  list-style-type: none;
  text-align: center;
  transition: all 300ms;
  padding-bottom: 0.5%; }
  .row-1 .repuestos {
    text-decoration: none;
    list-style-type: none;
    color: black; }
  .row-1:hover {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-weight: bold;
    font-size: 300%; }

.productosdes {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  font-size: 250%;
  padding-top: 3%; }

#Distribuciones {
  background-color: white; }
  #Distribuciones img {
    width: 70%;
    display: flex;
    margin: auto;
    height: 80%; }

#BatteryB img {
  width: 70%;
  height: 80%;
  display: flex;
  margin-left: 20%; }

#Filtros {
  background-color: white; }
  #Filtros img {
    display: flex;
    width: 70%;
    margin: auto; }

#Frenos {
  background-color: white; }
  #Frenos img {
    display: flex;
    width: 50%;
    height: 80%;
    margin: auto; }

#Encendido {
  background-color: white; }
  #Encendido .h3N {
    margin-bottom: 1%;
    margin-top: 5%; }
  #Encendido img {
    display: flex;
    width: 50%;
    margin: auto; }

#Direccion {
  background-color: white; }
  #Direccion img {
    display: flex;
    width: 80%;
    margin: auto; }

#Suspension {
  background-color: white; }
  #Suspension img {
    display: flex;
    width: 80%;
    height: 60%;
    margin: auto; }

/*Formulario*/
.formulario {
  list-style-type: none;
  width: 450px;
  margin-top: 5%;
  margin-left: 40%;
  padding: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 10px; }

iframe {
  display: block;
  margin-left: 17%;
  padding-top: 5%; }

body {
  background-image: linear-gradient(to bottom, gray, black);
  width: 100%; }

.sectionIndex {
  display: grid;
  grid-template-columns: 100%;
  transition: all 2s; }
  .sectionIndex .imagen_Index {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: 19%;
    width: 60%;
    height: 82%;
    transition: all 2s; }
    .sectionIndex .imagen_Index:hover {
      height: 87%;
      width: 64%; }

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  font-size: 450%;
  font-weight: bold;
  text-align: center; }

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 280%;
  text-align: center;
  padding-bottom: 5%; }

.h3N {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 200%; }

.menu {
  background-color: red;
  height: 75px; }
  .menu .col {
    background-color: red;
    width: 100%;
    height: 75px;
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    padding-top: 1.5%;
    transition: all 500ms; }
    .menu .col:hover {
      width: 100%;
      height: 100px;
      background-color: red;
      font-weight: bold; }
  .menu a {
    color: black;
    text-decoration: none; }
    .menu a:hover {
      text-decoration: none; }

/*tamaño tablet*/
@media screen and (max-width: 400px) {
  body {
    background-image: black;
    width: 100%; }
  .Titulos {
    font-size: 50%;
    text-align: center; }
  .compracarrito {
    width: 80%; }
  .icgoogle {
    width: 80%; }
  .foto {
    width: 5%;
    padding-bottom: 2%; }
  .items {
    margin-top: 10%; } }

/*Nosotros*/
main {
  margin-top: -10%; }

.h1N {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  font-size: 350%;
  margin-top: 0%;
  padding-bottom: 2%;
  font-weight: bold; }

h3 {
  font-size: 250%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: lighter;
  padding-bottom: 1%; }

p {
  text-align: center;
  align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 200%;
  color: whitesmoke;
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 2%; }

#imagen_nosotros .img_nos img {
  display: flex;
  width: 100%;
  height: 50%;
  margin-left: 20%; }

.text {
  margin-top: -30%; }

/*Servicios*/
#Servicios img {
  width: 80%;
  padding: 25%;
  transition: all 1s; }
  #Servicios img:hover {
    width: 90%;
    border: 20px solid gray; }
