body/*.InicioIndex*/{
    /*display: grid;
    grid-template-columns: 11fr;*/
    background-image: linear-gradient(to bottom, gray,black);
}
header  {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: sticky;
    top: 0%;
    display: block;
}
.compras1{
    display: grid;
    grid-template-columns: repeat(2, 2%);
    -ms-grid-row-align: end;
    align-items: flex-end;
    justify-content: end;
    text-align: end;
    padding-top: 2%; 
    
}
.GridSocialIndex{
    display: grid;
    grid-row-gap: 15%;
}
.foto{
    width: 2%;
    transition: all 250ms;
}
.foto:hover{
    width: 2.5%;    
}
.imagen_Index{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: 19%;
    width: 60%;
    height: 82%;
    transition: all 2s;
}
.imagen_Index:hover{
    height: 87%;
    width: 64%;
    /*background-color: red;*/
}
.sectionIndex{
    display: grid;
    grid-template-columns: 100% ;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red; 
    font-size: 450%;
    font-weight: bold;
    text-align: center;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: white; 
    font-size: 280%;
    text-align: center;
    padding-bottom: 5%;
}
.container-fluid{
    background-color: red;
    width: 100%;
    height: 75px;
}
.col{
    background-color: red;
    width:100%;
    height: 75px;
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    padding-top: 1.5%;
    /*text-decoration: none;*/
    transition: all 500ms;
}
.col:hover{
    width: 100%;
    height: 100px;
    background-color: red;
    font-weight: bold;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/*.nav_grid_index{
    background-color: red;
    width:100%;
    height: 75px;
}

.navGridIndex_ul{
    display: grid;
    grid-template-columns: repeat(4, 10fr);
    grid-gap: 10px;
    -ms-grid-row-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "section section section section";
}

.navGridIndex_a{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    justify-items: 15px;
}
.NosIND{
    display: grid;
    align-content: center;
    width: 100%;
    height: 82%;
    transition: all 1s;
    
}
.NosIND:hover{
    height: 87%;
    width: 100%;
    background-color: red;
    font-weight: bold;
}*/


.footerIndex {
    background-image: linear-gradient(to bottom black gray);
    width: 100%;
    
}
.footer_index{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 70%;
    text-align: right;
    padding-top: 10%;
}
/*tamaño tablet*/
@media screen and (max-width:768px){

    .InicioIndex{
        grid-template-columns: repeat(3, 100fr);
        height: 100%;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
    
    }
    .compras{
        grid-template-columns: auto;
        align-items: right;
        justify-content: right;
    }
    .GridSocialIndex{
        grid-template-columns: repeat(4, 20%);
        align-items: center;
        justify-content:center;
        
    }
    header{
        grid-area: header;
        background-color: none;
    }

    .imagen_Index{
        grid-template-columns: repeat(4, 20%);
        
    }
    .h1I{
        font-size: 100%;
        margin-right: 10%;
    }
    .h3I{
        font-size: 100%;
        margin-right: 10%;
    }
    .nav_grid_index{
        grid-template-columns: repeat(4, 75px);
        width: 99%;
        grid-template-areas: 
        "nav nav nav"
        
    }
    .navGridIndex_ul{
        grid-template-columns: repeat(4, 105px);
        align-items: center;
        justify-content: center;
    }
    .navGridIndex_a{
        /* font-size:100%; */
        font-size: 12px;
       
    }
    .footerIndex{
        background-image: black;
        grid-template-columns: repeat(4, 105px);
    }
    .footerIndex{
        background-image: black;
        grid-template-areas: "footer footer footer";
        grid-area: footer;
        width: 100%;
        
    }

}
/*Nosotros.html*/
/*.Nosotros{
    background-image: linear-gradient(to top, black, gray);
}*/
/*.nav_grid_Nosotros{
    background-color: red;
    width:  100%;
    height: 75px;
    /*justify-content: center;

}
.navGridMenuNosotros_ul{
    display: grid;
    grid-template-columns: repeat(4, 10fr);
    grid-gap: 10px;
    -ms-grid-row-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "section section section section";
}
.menuN{
    
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position:static;
    font-size: 100%;
}*/
header {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    color: whitesmoke;
    text-align: left;
   
}
.comprasNosotros{
    text-align: right;
    position:static;
    top: 0%;
    display: block;
    list-style: none;
    
}
.GridSocialNosotros{
   display: grid;
   grid-row-gap: 15%;
   
}
main{
    margin-top: -7%;
    /*font-family:Verdana, Geneva, Tahoma, sans-serif; 
    color:whitesmoke;*/
}
.h1N{
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 180%;
    text-align: center;
    color: whitesmoke;*/
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: /*250*/350%;
    margin-top: 0%;
    padding-bottom: 2%;
    font-weight: bold;
}
h3{
    font-size: 250%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-weight:lighter;
    padding-bottom: 2%;
    
}
p{
    text-align: center;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    color: whitesmoke;
    margin-left: 3.5%;
    margin-right: 3.5%;
    padding-bottom: 2%;
    
}
.imagenes_Nosotros{
    display: flex;
    Flex-direction:row;
    Justify-content:Center;
    Align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
.imagen2{
    width: 30%;
    height: 30%;
    margin-right: 20%;
}
.Historias-Insta{
    width: 30%;
    height: 400px;
}
/*.container-fluid{
   padding-bottom: 10%;
}*/
/*.text{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    color: whitesmoke;
    margin: 5.5%;
    text-align: center;
}*/
.footerN{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 70%;
    text-align: right;
    padding-top: 10%;   
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 100%;
    text-align: right;*/
}
/*Productos.html*/
.Productos{
    background-image: linear-gradient(to top, black, gray);
}
/*.nav_grid_Productos{
    background-color: red;
    width:  100%;
    height: 75px;
    justify-items: center;
}
.navGridMenuProductos_ul{
    display: grid;
    grid-template-columns: repeat(4, 10fr);
    grid-gap: 10px;
    -ms-grid-row-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "section section section section";
}*/
.compras{
    text-align: right;
    position:static;
    top: 0%;
    display: block;
    margin-right: -10%;
    
}
.GridSocialProductos{
    display: grid;
    grid-row-gap: 15%;
    margin-left: -9%;
}
 /*.col{
     margin-top: 0%;
 }*/
.h1Productos{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: /*250*/350%;
    margin-top: 10%;
    padding-bottom: 3%;
    font-weight: bold;
}
/*img-circle */
.publicacionesGTR{
    margin-left: 35%;
    width: 30%;
    height: 30%;
    padding-bottom: 5%;
    /*padding-top: 15px;*/
    transition: all 2s;
}
.publicacionesGTR:hover{
    width: 35%;
    height: 35%;
}
/*.pP {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 150 250%;
    text-align: center;
    padding: 5%;
}*/
/*.catalogoRepuestos  {
    font-size: 200/300%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    margin-left: 35%;
}*/
.repuestos{
    padding-bottom: 3%;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: /*125 225%;
    list-style-type: none;
    text-align: center;*/
}
.row-1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: /*125*/ 220%;
    list-style-type: none;
    text-align: center;
    transition: all 1s;
}
.row-1:hover{
    font-size: 300%;
}
.productosdes{
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
    color: whitesmoke;
    font-size: 125%;
    padding-top: 2%;
}
.footerProd {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 10%;
    text-align: right;
    padding-top: 10%;
}
/*Servicios.html*/
/*.Servicios {
    background-image: linear-gradient(to bottom, gray, black);
    width: auto;
}
.nav_grid_Servicios{
    background-color: red;
    width:100%;
    height: 75px;
    margin-right: 10%;}
.navGridMenuServicios_ul{
    display: grid;
    grid-template-columns: repeat(4, 10fr);
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
    height: 100px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "section section section section";
}
.comprasServicios{
    text-align: right;
    position: static;
    top: 0%;
    display: block;
    
}
.GridSocialServicios {
    display:grid;
    grid-row-gap: 15%;
} 
.h1S {
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    color: whitesmoke;  
    font-size: 250%;
    text-align: center;
}
.h3S {
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    font-size: 150%; 
    color: whitesmoke;
    text-align: center;
}
.GridImagenS {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-auto-rows: 60%;
    padding-left: 25%;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
    
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 200px)
    grid-template-areas: "batería batería batería batería";
    grid-column-gap:;
    grid-row-gap:;
    
    
}*/
#Servicios  img{
    width: 100%;
    padding: 30%;
    transition: all 1s;
    
}
#Servicios col-lg-4{
    margin: 0;
    padding-bottom: 40%;
}
#Servicios img:hover{
    width: 110%;
    border: 25px solid gray;
}
/*.FirstRow{
    width: 40%;
}
.SecondRow{
    width: 40%;
}
.ThirdRow{
    width: 40%;
}*/
/*.BateriaGrid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/
/*.bateria{
    display:block;
    margin-left: 20%;
    margin-top: 5%;
}
.inyeccion{
    display:block;
    margin-top: -5%;
    margin-left: 26%;
}
.rueda{
    /*display:block;
    margin-top: -5%;
    margin-left: 32%;
}
.seguro{
    display:block;
    margin-top: -5%;
    margin-left: 38%;
}
.amortig{
    display:block;
    margin-top: -5%;
    margin-left: 44%;
}
.correa{
    display:block;
    margin-top: -5%;
    margin-left: 50%;
}
.caroil{
    :block;
    margin-top: -5%;
    margin-left: 56%;
}
.piston{
    display:block;
    margin-top: -5%;
    margin-left: 62%;
}
.obd2{
    display:block;
    margin-top: -5%;
    margin-left: 68%;
}
.turbo{
    display:block;
    margin-top: -5%;
    margin-left: 74%;
}
*/

.footerS {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 100%;
    text-align: right;
    background-image: black;
    padding-top: 19.99%;
}


@media screen and (max-width:768px) {

    .Servicios{
        grid-template-columns: repeat(3, 100fr);
        height: 100%;
        grid-template-areas: 
        "header header header"
        "main main main"
        "section section section"
        "footer footer footer"
    }
    .comprasServicios{
        grid-template-rows: repeat(2, 10px);
        align-items: right;
        justify-content: right;
    }
    .GridSocialServicios{
        display: grid;
        grid-row-start: auto;
        justify-content:start;
        padding-top: 20%;
    }
    .h1S{
        font-size: 20px;
    }
    
    .h3S{
        font-size: 10px;
    }

    .textoServicios{
        font-size: 5px;
    }
    .GridImagenS {
        display: grid;
        grid-template-columns: repeat(3, 20%);
        grid-auto-rows: 30%;
        padding-left: 25%;
        margin-top: 5%;
        margin-left: 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
    .FirstRow{
        width: 100%;
    }
    .SecondRow{
        width: 100%;
        }
    .ThirdRow{
        width: 100%;
    }

}


/*Contactos.html*/
/*.Contactos {
    width: 600;
    height: 600;
    background-image: linear-gradient(to top, black, gray);
}*/
/*.menuC{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position:sticky;
    font-size: 100%;
}*/
header {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    color: whitesmoke;
    text-align: left;
   
}
.comprasC{
    text-align: right;
    position:static;
    top: 0%;
    display: block;
}
/*.GridSocialContactos{
    display: grid;
    grid-row-gap: 15%;
}
/*.h1C {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;
    color: whitesmoke;
    text-align:center;
}
.h3C {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 125%;
    text-align: center;
    color: whitesmoke;
}
.pC{
    text-align: center;
    font-size: 125%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    margin-right: 10%;
    margin-left: 10%;
}*/
.formulario{
    list-style-type: none;
    width: 450px;
    margin-top: 5%;
    margin-left: 40%;
    padding: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
iframe{
    display: block;
    margin-left: 23%;
    padding-top: 5%;
}
footer {font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 100%;
    text-align: right;
}
/*catálogo de repuestos dentro de Porductos.html*/
.distribuciones{
    background-image: linear-gradient(to top, black, gray);
}
.menuD{
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position:sticky;
    font-size: 100%;
}
.comprasD{
    text-align: right;
    position:static;
    top: 0%;
    display: block;
}
.socialD{
    text-align: left;
    position:fixed;
    display:block;
    list-style-type: none; 
    margin-top: 0%;
}
.pD{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    margin: 30px;
    padding-top: 30px;
}
.subpD{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    text-align: center;
    color: whitesmoke;
    margin-left: 7%;
    padding-bottom: 30px;
    padding-top: 30px;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 30px;
    
}
ul{
    list-style-type: none; 
}
.mercedesbenzDistribucion{
    Display: Flex;
    Flex-direction: row;
    Justify-content: center;
    Align-items: center; 
}
.mercedesbenzDistribucion img{
    width: 300px;
    height: 300px;
    padding-right: 180px;
    padding-left: 110px;
}
/*pie de foto para las imágenes de las distribuciones de Mercedes Benz*/
.kitDMB{
    Display: Flex;
    Flex-direction: row;
    Justify-content: Center;
    Align-items: center;
}
.kitDMB h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    padding-right: 150px;
    padding-left: 110px;
}
.bmwDistribuciones{
    Display: Flex;
    Flex-direction: row;
    Justify-content: Center;
    Align-items: center;
}
.bmwDistribuciones  img{
    width: 300px;
    height: 300px;
    padding-right: 180px;
    padding-left: 110px;
}
.kitBMW{
    Display: Flex;
    Flex-direction: row;
    Justify-content: Center;
    Align-items: center;
}/*pie de foto para las imágenes de las distribuciones de BMW*/
.kitBMW h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    padding-right: 250px;
    padding-left: 110px;
}
.audivwDistribuciones{
    Display: Flex;
    Flex-direction: row;
    Justify-content: Center;
    Align-items: center;
}
.audivwDistribuciones   img{
    width: 300px;
    height: 300px;
    padding-right: 180px;
    padding-left: 115px;
}/*pie de foto para las imágenes de las distribuciones Audi*/
.kitAUDI-VW{
    Display: Flex;
    Flex-direction: row;
    Justify-content: Center;
    Align-items: center;
}
.kitAUDI-VW h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    padding-right: 250px;
    padding-left: 140px;
}
.alfaDistribuciones{
    Display: Flex;
    Flex-direction: row;
    Justify-content: Center;
    Align-items: center;
}
.alfaDistribuciones img{
    width: 300px;
    height: 300px;
    padding-right: 180px;
    padding-left: 115px;
}
/*pie de foto para las imágenes de las distribuciones Alfa Romeo y Fiat*/
.kitAlfa{
    Display: Flex;
    Flex-direction: row;
    Justify-content: Center;
    Align-items: center;
}
.kitAlfa    h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    padding-right: 150px;
    padding-left: 110px;
    flex-direction: column;
}
/*catálogo de repuestos dentro de Porductos.html*/
.baterias{
    background-color: gray;
    height: 25%;
}
.color_header{
    background-color: red;
    width: 100%;
    height: 20px;
}
/*.nav_grid_battery{
    display: grid;
    background-color: red;
    width: 100%;
    height: 75px;
}
.navGridBattery_ul{
    display: grid;
    grid-template-columns: repeat(5,22%);   
    -ms-grid-row-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "section section section section";

}
.navGridBattery{
    display: grid;
    text-decoration:    none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
    justify-items: center;}
.comprasb{
    display: block;
    text-align: right;
    padding-top: 20%;}
.GridSocialBattery{
    display:grid;
    grid-row-gap: 15%;
    padding-top: 0%;
    margin-left: -1%;
}
.navBAT{
    display: grid;
    align-content: center;
    width: 100%;
    height: 82%;
    transition: all 1s;

}
.navBAT:hover{
    height: 87%;
    width: 100%;
    background-color: red;
}*/
#Bateria{
    
} .h1N{
    color: white;  
}
.slogan_baterias{
    padding-top: 1%;
    background-image: gray;
}
.h1b{   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 250%;
}
.h3b{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 180%;
}
.h3-2{
    color: black;
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.article_color{
    display: grid;
    background-color: gray;
    padding-top: 5%;
}
.bat_moura_williard{
    grid-template-columns:75px 80px 105px;
    grid-template-rows: 100px 50px 75px;
    background-color: whitesmoke;
}
